:root{
    --bg: #1D1C1C;
    --text-label: #A0A0A0;
    --input-active: #484848;
}

.style-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
   

    /* justify-content: space-between; */
    border-radius: 16px;
    background-color:var(--bg);
    padding: 20px;
}

.style-textArea{
    border-radius: 8px;
    outline: none;
    border: none;
    resize: none;
    padding: 10px;
    height: 70px;
    transition: all .15s ease-in-out;

}
.style-textArea:focus{

    background-color:var(--input-active);

}
.containerTextArea{

    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-label);
}

.titleAndBtn{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.style-skill{

    display: flex;
    gap: 10px;

}